<!doctype html>
<html {% if amp %}⚡ {% endif %}lang="en">
{%- include 'components/head.html' -%}
<body>
  {%- include 'components/header.html' -%}
  {%- block body %}<div>
    <h2>{{ title }}</h2>
    {% if venue %}
      <h5><a href="{{ data.venue[venue].permalink }}">{{ data.venue[venue].name }}</a></h5>
    {% endif %}
    {{ contents | safe }}
    {% for tag in tags %}
      {% if 'reply:' in tag %}
        <div><p><a href="/m/{{ tag | replace('reply:', '')  }}">{{ tag }}</a></p></div>
      {% endif %}
    {% endfor %}
    <h5>{%- if next %}
      ⬅️ <a rel="prev" href="/{{ next.path }}">{{next.title}}</a>
    {% endif %}
    {%- if previous %}
      {% if next %}
        ::
      {% endif %}
      <a rel="previous" href="/{{ previous.path }}">{{previous.title}}</a> ➡️
    {% endif %}</h5>
    <h5>{{ date | string | truncate(15, true, '') }}</h5>
  </div>{% endblock %}
  {%- include 'components/footer.html' -%}
  {%- include 'components/sidebar.html' -%}
</body></html>
