<!doctype html>
<html {% if amp %}⚡ {% endif %}lang="en">
{%- include 'components/head.html' -%}
<body>
  {%- include 'components/header.html' -%}
  {%- block body %}
    {{ contents | safe }}
    {% if person %}
      <div>
      {%- include 'components/tree/' + person + '.html' -%}
      </div>
    {% endif %}
  {% endblock %}

  {%- include 'components/footer.html' -%}
  {%- include 'components/sidebar.html' -%}
</body></html>
