<!doctype html>
<html {% if amp %}⚡ {% endif %}lang="en">
{%- include 'components/head.html' -%}
<body>
  {%- include 'components/header.html' -%}
  {%- block body -%}
    {% set v = 'v' + venue %}
    <div>
      <h2>{{ title }}</h2>
      <h5>{{ data.venues[v].address }}
        {% if data.venues[v].phone %}☎️ {{ data.venues[v].phone }}{% endif %}
      </h5>
      {{ contents | safe }}
      {% if data.venues[v].attended %}
        <p>I been here! See more in <a href="/misc/gigography/">my gigography</a>.</p>
      {% endif %}
    </div>

    <div>
      {%- if data.venues[v].directions %}
        <p>{{ data.venues[v].directions | safe }}</p>
      {% endif %}
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{ data.site.google_map_key }}&q={{ title }},{{ data.venues[v].address }}&attribution_source=Folkestone+Gerald&attribution_web_url=http://www.clarkeology.com/{{ path }}&attribution_ios_deep_link_id=comgooglemaps://?daddr={{ data.site.google_map_key }}&q={{ title }}"></iframe>
    </div>

    {%- if data.venues[v].history %}
      <div>
        <p>{{ data.venues[v].history | safe }}</p>
      </div>
    {% endif %}
  {%- endblock -%}

  {%- include 'components/footer.html' -%}
  {%- include 'components/sidebar.html' -%}
</body></html>
