/* arrows pointing up from top of blog posts */
/* div div:after, div div:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
}

div.u:after {
  border-width: 10px;
  left: 22px;
  top: -20px;
}

div.u:before {
  border-width: 12px;
  left: 20px;
  top: -24px;
} */
