// should have only pic and colours here, specific to clarkeology.com

div,
form {
  background-color: #f9f9f9;
}

a {
  color: #60c;
}

h4 a,
h5 a,
h6 a {
  color: #666;
}

nav {
  background-color: #ded;

  h1 {
    border-radius: 10px 10px 0 0;
    color: #fff;
  }
}

body>h1,
h2 {
  background: linear-gradient(#ded,  #f9f9f9);
}

// html,
nav li,
nav li a,
h1 a,
h2 a,
h2,
h2 a,
h2 a:visited {
  color: #111;
}
