@media (min-width: 800px) {
  nav {
    border: 0;
    margin: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
  }

  form,
  h1 {
    display: block;
  }

  ins,
  .extra,
  nav img {
    display: inline;
  }

  body>h1 {
    left: 0;
    margin: 1em;
    position: absolute;
    top: 0;
    width: 90%;
  }

  form {
    font-size: .8em;
    margin-top: 135px;
  }

  body>form,
  body>div {
    font-size: 1em;
    margin-right: 260px;
  }

  nav li>a {
    font-size: .8em;
  }

  div a {
    margin: auto;
  }

  div h5 {
    margin-right: 0;
  }
}
