/* span.expandablelink {
  background: #ffc;
}

span.expandablelink:hover {
  background: #cfc;
}

span.expandablelink span {
  margin-left: 1em;
  white-space: nowrap;
  display: none;
}

span.expandablelink span a.artist,
span.expandablelink:hover span a.artist {
  padding-right: 16px;
  background: url(/img/icon/dvd.png) no-repeat right top;
}

span.expandablelink span a.google,
span.expandablelink:hover span a.google {
  padding-right: 16px;
  background: url(/img/icon/find.png) no-repeat right top;
}

span.expandablelink span a.imdb,
span.expandablelink:hover span a.imdb {
  padding-right: 16px;
  background: url(/img/icon/film.png) no-repeat right top;
}

span.expandablelink span a.blog,
span.expandablelink:hover span a.blog {
  padding-right: 16px;
  background: url(/img/icon/page_white.png) no-repeat right top;
} */

