// .overlay {
//  border-radius: 5px;
//  display: block;
//  position: absolute;
//  padding: 5px;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  transition: all 500ms;
//  text-decoration: none;
//  font-weight: normal;
//  opacity: .3;
//  font-size: .9em;
//}
//
//.//overlay:hover {
//  text-decoration: none;
//  opacity: 1;
//}

// icons and other graphics that should be post loaded

.snow:after {
  content: ' ❄️';
}

.candle:after {
  content: ' 🕯️';
}

.chili:after {
  content: ' 🌶️';
}

.robot:after {
  content: ' 🤖';
}

.cider:after,
.pub:after,
.inn:after,
.beer:after,
.realale:after {
  content: ' 🍺';
}

.pi:after,
.html:after,
.javascript:after,
.js:after {
  content: ' 💻';
}

.tv:after {
  content: ' 📺';
}

.step:after,
.fitness:after,
.fitbit:after {
  content: ' 🚶';
}

.running:after {
  content: ' 🏃‍♂️';
}
[rel=tag]:after {
  content: ' 🏷️';
}

// ol [rel=tag]:after {
//   content: ' 🎧';
// }

// div>ul>li:before,
// .pool:after {
//   content: ' 🎱';
// }

nav h1 {
  background: url('/img/pauly.jpg') -25px -55px;
  height: 115px;
  padding-top: 92px;
  text-indent: 15px;
}

// nav h1:hover {
//   background: url('https://lh3.googleusercontent.com/-EdK30frFJcQ/UimOBDjZvPI/AAAAAAABxFI/49NGqKznMG0/s288/DSC_0081-MOTION.gif') -16px 0;
//   height: 115px;
//   padding-top: 140px;
//   text-indent: 30px;
// }
