body {
  margin: 0;
}

html,
p,
h1,
h2,
h5 {
  font-family: arial, verdana, sans-serif;
  font-size: 1em;
}

div,
nav,
form {
  border: 1px #ddd solid;
  border-radius: 15px;
  line-height: 1.5em;
  margin: 1em;
  max-width: 100%;
  opacity: .8;
  padding-left: 1em;
  padding-right: 1em;
}

div div {
  background-image: none;
  clear: both;
  margin-bottom: -1px;
  margin-left: 1em;
  margin-right: -17px;
}

div p {
  margin: 1em 0;
}

div p,
div img,
div div {
  opacity: 1;
}

a {
  font-weight: bold;
  /* text-decoration: none; */
}

/* a.external {
  text-decoration: underline;
} */

a:visited,
h4 a,
h5 a,
h6 a,
nav li,
nav li a,
a,
a:hover,
a:visited {
  text-decoration: none;
}

nav div {
  background: none;
  border: 0;
  margin: 0 0 0 .5em;
  padding: 0;
}

body>h1,
h2,
h5 {
  margin: 1em;
  margin-left: 0;
}

p {
  margin: 1em;
  padding: 0;
}

body>h1,
h2 {
  border-radius: 15px 15px 0 0;
  margin: 0;
  padding: .5em;
  padding-left: 1em;
}

div h2 {
  border: 1px solid #ddd;
  border-bottom: 0;
  font-size: 1.1em;
  margin: 0 -1em;
  padding: .5em .5em .5em 1em;
}

h1 a,
h2 a,
h5 a {
  text-decoration: none;
}

/* .date_for_api,
h2.title {
  display: none;
} */

/* nav li,
nav li a {
  margin: .5em 0 .5em 0;
} */

/* div>ul {
  list-style: none;
  text-indent: 0;
  padding: 0;
}

div>ul>li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  background: top left no-repeat;
} */

/* .amazon {
  background: none ! important;
  display: inline;
  float: left;
  padding: 0 ! important;
  margin: 1em;
}

.amazon a {
  background: none ! important;
} */

/* ul#navMenuList {
  clear: left;
} */

/* .yearLinks {
  font-size: 1.8em;
} */

// h5 is only really used for dates and venue links now
// nav ol,
// h5 {
//   text-transform: capitalize;
// }

h5 {
  font-style: italic;
}

/* a.add {
  background: url( /img/icon/add.png ) no-repeat top right;
  padding-right: 18px;
} */

/* .fn.up {
  background: url( /img/icon/arrow_up.png ) no-repeat top right;
  padding-right: 18px;
}

.fn.down {
  background: url( /img/icon/arrow_down.png ) no-repeat top right;
  padding-right: 18px;
} */

/* label.checked {
  background: #97D881;
  font-weight: bold;
} */

nav div {
  margin: 0;
}

/* nav iframe,
nav label,
nav object, */
nav img {
  border: 0;
}

nav ol,
nav ul {
  list-style: none;
  text-indent: 0;
  padding: 0;
  margin: 0;
  overflow: hidden
}

h5,
h5 a,
h4 a,
h6 a,
nav h2 a,
nav li,
nav li a,
nav li a:hover {
  font-weight: normal;
}

a[rel=tag] {
  margin-right: 1em;
}

h2 {
  background-color: transparent;
  padding: 0;
  margin: 1em;
}

img {
  max-width: 100%;
}

// @todo why is this down this far? Precedence probably
div div {
  position: relative;
}
