<head>
  <meta charset="utf-8">
  {%- if amp %}<script async src="https://cdn.ampproject.org/v0.js"></script>{% endif -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
  <link rel="manifest" href='data:application/manifest+json,{
    "name": "{{ data.site.title }}",
    "short_name": "Clarkeology",
    "description": "{{ description or title or data.board[board].description or data.board[3].description | striptags | truncate(100) }}",
    "display": "standalone",
    "theme_color": "#f9f9f9",
    "background_color": "#f9f9f9",
    "icons": [
      {
        "src": "/img/icons-192.png",
        "type": "image/png",
        "sizes": "192x192"
      },
      {
        "src": "/img/icons-512.png",
        "type": "image/png",
        "sizes": "512x512"
      }
    ]
  }' />
  <title>{{ title or tag | striptags | capitalize }} | {{ data.site.title }}</title>
  <meta name="title" content="{{ title or tag | striptags | capitalize }}" />
  <meta name="Description" content="{{ description or title or data.board[board].description or data.board[3].description | striptags | truncate(100) }} {{ contents | nl2br | striptags | truncate(100) | replace('"', '&quot;') }}" />
  <meta name="Keywords" content="{%- include 'components/keywords.html' -%}" />
  {% if board == 14 -%}
    <link inline amp-custom rel="stylesheet" href="/css/head-with-tree.css">
  {%- else -%}
    <link inline amp-custom rel="stylesheet" href="/css/head.css">
  {%- endif -%}
  {% if ampAllowedMoreThanOneStyleTag %}<style amp-custom>h1{display:none}#→{margin-top:0}</style>{% endif %}
  <link rel="alternate" type="application/rss+xml" title="Pauly's RSS feed" href="/feed.xml" />
  {% if amp -%}
    <link rel="canonical" href="http://{% if board == 8 %}folkestonegerald{% else %}clarkeology{% endif %}.com/{{ path }}" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  {%- endif %}
  {%- if amp -%}
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
  {%- endif -%}
</head>
