<nav>
  <h1>Paul Clarke</h1>
  <div class="vcard">
    <h4>Links</h4>
    <ul itemscope itemtype="http://schema.org/Person">
      {# if this is broken it's because I moved span itemprop=name from around my name #}
      {# itemprop=name around the whole <li> causes Pauly and Software Engineer to be part of the name #}
        <li><a rel="me" class="fn url" href="/blog/" itemprop="url" title="All about Pauly"><span itemprop="name">Paul Clarke</span></a>
        <meta itemprop="sameAs" content="http://www.clarkeology.com/names/clarke/7/paul-leslie" />
        <span class="nickname" itemprop="additionalName">Pauly</span>
        <span class="role" itemprop="jobTitle">Software Engineer</span>
        <span itemprop="address homeLocation" itemscope itemtype="http://schema.org/PostalAddress"><meta itemprop="description" content="Hythe, Kent" /></span>
        <meta itemprop="image" content="https://lh6.googleusercontent.com/-9R7Y6Un9q4M/ULyp458SI_I/AAAAAAABWcg/Uxou54FYA4c/s288/Screen%2520shot%25202012-12-03%2520at%252013.30.38.png" />
      </li>
    </ul>
    <ul>
      <li><a rel="me" href="https://plus.google.com/+PaulClarke/photos">Pictures</a></li>
      <li><a class="tv" rel="me" href="http://www.youtube.com/user/folkestonegerald">Videos</a></li>
      <li><a itemprop="url" class="script js ruby" rel="me" href="https://www.github.com/pauly">Github</a></li>
      <li><a class="step" rel="me" href="https://www.fitbit.com/user/288546" title="Step count etc">Fitness</a></li>
      <li><a href="/misc/gigography/" title="List of old gigs">Gigography</a></li>
    </ul>
    <h4>Family tree</h4>
    <ul>
      <li><a itemprop="url" rel="me" href="/" title="Family tree index page">Family tree Home</a></li>
      <li><a href="/names/" title="All the names in our family tree">All names</a></li>
      <li><a href="/blog/14/board.html" title="Leave requests / info here">Family Tree Forum</a></li>
      <li itemprop="relatedTo" itemscope itemtype="http://schema.org/Person"><a href="/names/clarke/79/charles-valentine" title="Charles Valentine Clarke died on the Titanic" itemprop="url sameAs"><span itemprop="name">Charles Valentine Clarke</span></a> (Titanic)</li>
      <li itemprop="relatedTo" itemscope itemtype="http://schema.org/Person"><a href="/names/clarke/437/henry-patrick" title="Harry Clarke the famous artist" itemprop="url sameAs"><span itemprop="name">Harry Clarke</span></a> (artist)</li></ul>
    <ul>
      <li itemprop="owns" itemscope itemtype="http://schema.org/Thing"><a itemprop="url" href="http://www.folkestonegerald.com/" title="Folkestone gigs, pubbing, restaurants, etc"><span itemprop="name">Folkestone Gerald</span></a></li>
    </ul>
  </div>
  {% if music -%}<div>
    {# include 'components/latest.html' #}
    {% include 'components/weeklytrackchart.html' %}
    <h4>Todo:</h4>
    <ul id="todo">
      <li><a href="/m/24734" title="1 May 2017">Status candle</a></li>
      <li><a href="/m/23648" title="30 Sep 2015">Coffee machine hack</a></li>
      <li><a href="/m/23208" title="14 Jan 2015">todo: Tidy the study</a></li>
    </ul>
  </div>{%- endif -%}
  <div>
    <h4><a href="/privacy">Privacy policy</a></h4>
  </div>
</nav>
