{%- if tags.length -%}
  <div><p>
  {%- for tag in tags -%}
    {% if ':' in tag.name %}{% else %}<a rel="tag" href="/wiki/#{{ tag.slug }}">{{ tag.name }}</a> {% endif %}
  {%- endfor -%}
  </p></div>
{%- endif -%}
